*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
        list-style: none;
        font-family: 'Poppins', sans-serif
}
.reservas{
    color: #250404e4;
    font-size: 25px;
    padding-left: 20px;
    text-transform: uppercase;
}





.lit  {
    font-size: 20px;
    padding: 20px;
    color: #00010fe8;
    display: flex;
}
.ule{
    padding: 10px;
    
}
.navbar :hover{
    color:rgba(255, 255, 255, 0.98)
    
}
a {
    color: black;
}
.navbar {

    position: absolute;
}


.y{
    padding: 60px 50px 100px 50px;
    background:linear-gradient(
        rgba(175, 229, 253, 0.487),
        rgba(114, 172, 234, 0.982)),
        url(/pagina.html/image/casosclinicos.png/download.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    padding-bottom:50px ;
}
.y h2 {
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}
.y p {
    text-align: center;
    padding: 0 30px;
    font-size: 20px;
}
.blog-containerb{
    padding: 30px 20px ;
    background:linear-gradient(
        rgba(175, 229, 253, 0.487),
        rgba(114, 172, 234, 0.982)),
        url(/pagina.html/image/casosclinicos.png/download.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

}
.set{
    display: flex;
    padding-left: 20px ;
}
h4 {
    font-size: 25px;
    text-transform: uppercase;
    padding: 20px;
}
h3 {
    font-size: 25px;
    text-transform: uppercase;
}
.blog-2{
    display: block;
    text-align: center;
    margin: 50px 20px 30px 20px;
    background-color: rgb(255, 255, 255);
    
}
.uli{
    border: 2px , solid rgb(0, 0, 0);
}
.or {
    border: 1px ,  solid rgb(60, 60, 60);
}